html, body, #container {
    height: 99%;
}

body {
    background-color: #733658;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big {
    font-family: "Helvetica", "Verdana", sans-serif;
    font-size: 4rem;
    color: #9ba3b4;
}

#github-logo {
    position: fixed; bottom: 0; right: 0;
    padding-bottom: 1rem;
    padding-right: 1rem;
}