html, body, #container {
    height: 100vh;
}

body {
    background-color: #733658;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big {
    font-family: "Helvetica", "Verdana", sans-serif;
    font-size: 3rem;
    color: #9ba3b4;
}

#github-logo {
    position: fixed; top: 0; right: 0;
    padding-top: 1rem;
    padding-right: 1rem;
}

@media (width <= 1600px) {
    body {
        padding: 2rem;
    }
}